[MASTER]
load-plugins = pylint.extensions.mccabe, pylint_django
ignore-patterns = manage.py, \d{4}.*.py
good-names = application, urlpatterns, fake

[REPORTS]
output-format = colorized

[TYPECHECK]
generated-members = url, py*

[DESIGN]
min-public-methods = 0
